# Target application URL
BASE_URL=https://www.saucedemo.com

# Set to true to run headed locally
HEADED=false

# Example credentials used by the sample Sauce Demo test
STANDARD_USER=standard_user
STANDARD_PASSWORD=secret_sauce
